* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 80%;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.just-start {
    justify-content: flex-start;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.item-start {
    align-items: flex-start;
}

.item-center {
    align-items: center;
}

.item-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.gap-2 {
    gap: 2%;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.w-15 {
    width: 15%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-25 {
    width: 25%;
}

.w-32 {
    width: 32%;
}

.w-68 {
    width: 68%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.margin-h {
    margin-left: auto;
    margin-right: auto;
}

.margin-v {
    margin-top: auto;
    margin-bottom: auto;
}

.margin {
    margin: auto;
}

.margin-left {
    margin-left: auto;
}

.margin-right {
    margin-right: auto;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: blue;
}

.icons-font {
    font-size: 24px;
}


@media screen and (max-width: 720px) {
    body {
        background-color: red;
    }

    .w-m-100 {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}

.listCategory {
    cursor: pointer;
    padding: 10px 10px;
    list-style-type: none;

}

.listCategory:hover {
    color: rgb(46, 175, 132)
}

.category {
    padding-left: 40px;
    border: 1px solid gainsboro;
    padding: 10px 30px;
    box-shadow: 5px 10px gainsboro;
    background-color: white;
}

.gap-20 {
    gap: 20px
}

.gap-10 {
    gap: 10px;
}

.listBook {

    border: 1px solid gainsboro;
    padding: 20px 30px;
    box-shadow: 5px 10px gainsboro;
    background-color: white;
    margin-left: 20px;
}

.titleListBook {
    border-bottom: 10px solid transparent;
}

.titleListBook:hover {
    border-bottom: 3px solid rgb(83, 83, 241);
    color: rgb(83, 83, 241);
}

.showListBook {
    padding: 20px 40px;
    margin-top: 30px;
}

.descriptionBook {
    margin-bottom: 40px;
    cursor: pointer;
}

.detailListBook {
    margin-top: 40px;
}