.signUp {

    display: flex;
    justify-content: center;
    align-items: center;

    Form {
        background-color: white;
        border: 1px solid #B7E8EB;
        padding: 50px 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px #B7E8EB;
        position: relative;
    }
}