.navbarAdmin {
    display: flex;
    width: 100%;
    padding: 30px 0px;
    background-color: rgb(123, 228, 241);
}

.logoNavAdmin {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding-right: 20px;
}

.notification {
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: relative;
    display: inline-block;

    .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: red;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

}

.userFooter {
    display: flex;
    align-items: center;
    padding-right: 30px;

    img {
        width: 26px;
        height: 26px;
        border-radius: 50px;
        margin-right: 10px;
        object-fit: cover;

    }
}